p{
    color:rgb(31, 31, 184);
    font-size: 4dvb;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px red;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-transform: capitalize;
    background-color: rgb(241, 241, 115);
    border: 2px solid red;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px red;
    opacity: 0.5;
    cursor: pointer;
    transition: all 2s;
}