.remove
{


  margin: 1rem;

  background-color: transparent;
  color: red;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

li{


  margin: 1rem;
  padding: 1rem;


  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

//il p dentro il li
p{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

