.mioLogo{
    max-width: 200px;
    
}

a{
    color:#dfd08e;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: rgba(62,69,50,255);
    position: sticky;
    top: 0;
    z-index: 1;
}


  h4 , h5{
    text-align: left;
    color:  rgba(62,69,50,255);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
 
.btn-primary{
 border-radius: 50px;
 background-color: aqua;
 border-style: none;
 width: 100px;
 
}



.align-text-center{
  text-align: center;
 

}

.offerteDiOggi, .recensioni{
  border-style: none;

}
.card{
margin-left: 7px;
border-radius: 5%;
}
.card img{ 
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

#saldi .card{
  border: 2px solid aqua;
}
.pers{
 
  width: 70px;
  max-width: 50px;
margin-top: 50px;
margin-left: 15px;
border-radius: 100%;

}

.bottonePrenota{
  background-color: aqua;
  border-radius: 100px;
  color: white;
}