.linkBottone {
  background-color: rgb(108, 219, 234);
  border-radius: 5px;
  border: 1px solid rgb(108, 219, 234);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

h3 {
  color: rgb(5, 0, 0);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;

  margin-top: 20px;

}
