.formLogin
{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #bfd7ea;
  border-radius: 5px;
  background-color: black;
  height: 100%;
  width: 100%;

}

.bottoneLogin
{
    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid #772121;
    border-radius: 5px;
    background-color: #f9baba;
    height: 20%;
    width: 20%;
  position: relative;
  left: 40%;
  top: 50%;
  background-color: #f09393;



}

input
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #772121;
    border-radius: 5px;
    background-color: #f9baba;
    height: 20%;
    width: 100%;
}

h5
{
    margin-top: 20px;
    margin-bottom: 20px;

    height: 20%;
    width: 100%;
    text-align: center;

    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
