.logo img{ width: 100px; }

.logo { text-align: center;
    padding: 20px;
       }

       .giallo{border-top: 1px;
        background-color: yellow;
        padding: 20px;
        text-align: center;
       }

       .container{
        width: 600px;
        margin: 0 auto;

       }

.post-image{
    width: 100%;
    border-radius: 20px;
}

.featured{
    padding: 10px;
    border-left: 1px solid orange;
}
.featured p, .featured h4 { margin:0;

}

footer p {text-align: center;}















    









